.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  margin-top: -100vh;
}

.hero-wrapper a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.hero-wrapper p {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
}

.hero-ttl {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-size: 80%;
  position: relative;
  animation: openttl 2s ease 0.3s 1 normal;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes openttl {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 100;
  }
}

.hero-ttl-anim {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  animation: shine 2s linear infinite;

  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 80%;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
