header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%; /* 幅いっぱいを指定 */
  height: 50px; /* 高さを50pxに指定 */
  padding: 40px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
  box-sizing: border-box; /* padding分を含んで幅を100%にするため */
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  display: flex; /* 中の要素を横並びにする */
  align-items: center; /* 中の要素を上下中央に並べる */
  z-index: 999;
}

header .gnav .menu {
  display: flex; /* 中の要素を横並びにする */
}

header .gnav .menu li {
  list-style: none; /* リストの[・]を消す */
}

header .gnav .menu li + li {
  margin-left: 40px; /* メニューそれぞれに間隔をあけるため */
}

header h1 {
  color: white;
  padding-right: 50px;
  font-family: MyFont;
}

header .gnav .menu li a {
  color: white;
  text-decoration: none;
}
