.service-wrapper {
  display: flex;
  justify-content: center;
  min-height: 300vh;
  height: 300vh;
  width: 100vw;
  text-align: center;
}

.service-wrapper .block {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.service-wrapper .block-one {
  background: #212e32b4;
  color: #fff;
  z-index: 100;
  padding: 0 100px;
}

.service-wrapper .topin {
  animation: fadeIn 0.2s ease 0.3s 1 normal;
}

@keyframes fadeIn {
  /*animation-nameで設定した値を書く*/

  0% {
    opacity: 0;
  } /*アニメーション開始時は不透明度0%*/

  100% {
    opacity: 1;
  } /*アニメーション終了時は不透明度100%*/
}

.service-contents {
  margin-top: 12vh;
}

.service-items {
  display: flex;
  justify-content: center;
}

.service {
  text-align: left;
  margin: 0 3vw;
  width: 25vw;
}

.service img {
  width: 100%;
}
